@model IEnumerable<QuizViewModel>

@{
    ViewData["Title"] = "Manage Quizzes";
    ViewData["EnableManagementLink"] = true;
}

<h1>Manage Quizzes</h1>

<div>
    <a asp-action="Create">Create New</a> |
    <a asp-action="Deactivate">Deactivate</a> |
    @Html.ActionLink("Active result page", "Results", new { id = "active" }) |
    <a asp-action="DeleteAllResponses">Delete responses</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Questions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Title</td>
            <td>
                @foreach (var question in item.Questions)
                {
                    @question.Title<br />
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Results", "Results", new { id = item.ID }) |
                @Html.ActionLink("Activate", "Activate", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>
</table>
