@model IEnumerable<QuizViewModel>

@{
    ViewData["Title"] = "Available Quizzes";
}

<h1>Available Quizzes</h1>

@*<p>
        <a asp-action="Create">Create New</a>
</p>*@
<p>
        <a asp-action="Deactivate">Deactivate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Questions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Title</td>
            <td>
                <ul>
                    @foreach (var question in item.Questions)
                    {
                        <li>@question.Title</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Results", "Results", new { id = item.ID }) |
                @Html.ActionLink("Activate", "Activate", new { id = item.ID }) |
            </td>
        </tr>
        }
    </tbody>
</table>
